<% provide(:title,"Topic")%>
<div id="show_flash_messages" class='col-md-6 col-lg-6 col-xs-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3'></div>

<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12' id="show_all_topics">
	<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 text-center'>
		<h1 class='marg-zero'>Topics </h1>
	</div>
	
	<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 '> <%= render 'topic_search' %>	</div>

	<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12'  id='all_topics_div'> <%= render 'topics'	%></div>

</div>

