<div class= 'alert alert-info alert-dismissible' role='alert' id="flash_messages_div"> 
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> <i class='fa fa-pencil fa-2x' style='padding-right:3%'> </i> Review <strong> <%= link_to @review.heading, @review %> </strong> Updated Successfully! 
</div>
<script>
	$('html, body').animate({
		scrollTop: $('#flash_messages_div').offset().top - 300}, 200);
	
	window.setTimeout(function() {
		$("#flash_messages_div").fadeTo(400, 0).slideUp(400, function(){
			$(this).remove(); 
		});
	}, 1200);
</script>