<div class= 'alert alert-info alert-dismissible' role='alert' id="flash_messages_div" style='margin-top: 3%;'> 
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> Hey <%= @user.name %>, Your account has been created. Sign in with your email & password.
</div>
<script>
	$('html, body').animate({
		scrollTop: $('#flash_messages_div').offset().top - 300}, 200);
	
	window.setTimeout(function() {
		$("#flash_messages_div").fadeTo(1500, 0).slideUp(400, function(){
			$(this).remove(); 
		});
	}, 2000);
</script>