<div class= 'alert alert-info alert-dismissible' role='alert' id="flash_messages_div" style='margin-top: 3%;'> 
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> Hey <%= @user.name %>, An Email has been sent to you for account activation.
</div>
