<% if @books_of_author.count>0 %>
<% @books_of_author.each do |book| %>
<div class='col-md-2'>
	<%= link_to image_tag(book.cover_page.url(:thumb)), book %>
	<h6> <%= link_to book.title, book %> </h6> 
</div>
<% end %>
<div class='col-md-6 col-md-offset-3 marg-top'> <%= will_paginate @books_of_author, renderer: BootstrapPagination::Rails %> </div>
<script>	$(function(){ $('.pagination a').attr('data-remote', 'true') }); </script>
<% elsif not @books_of_author.count>0 %>
<div class='well col-md-6 col-md-offset-3'><h4><strong><%= @author.name %></strong> hasn't written any books</h4></div>
<% end %>


