<h4 class='text-center'> Admin of Groups </h4>
<% if not @groups_of_user %> No Groups Created 
<% else @groups_of_user %>
	<% @groups_of_user.each do |group| %>
	<div class='col-md-4 text-center'>
		<%= image_tag(group.cover_page.url(:thumb)) %>
		<h6> <%= link_to group.name, group %> </h6>
	</div>
	<% end %>
	<div class='col-md-12 marg-top'> <%= will_paginate @groups_of_user, param_name: 'group_page', renderer: BootstrapPagination::Rails %> </div>
	<script> $(function(){ $('.pagination a').attr('data-remote', 'true') }); </script>
<% end %>
