<h4 class='text-center marg-bot10 marg-top10'> Reviews of <%= current_user.name %> </h4>
<% if not @reviews_of_user %> No Reviews Published Yet 
<% else %>
<% @reviews_of_user.each do |review| %>
<div class='col-md-4 col-lg-4 col-xs-4 col-sm-4 text-center'>
	<%= link_to image_tag(review.cover_page.url(:thumb)), review %>
	<h6> <%= link_to review.heading, review %> </h6>
</div>

<% end %>
<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-top'> <%= will_paginate @reviews_of_user, param_name: 'review_page', renderer: BootstrapPagination::Rails %> </div>

<script type='text/javascript'>
	$(function(){ $('.pagination a').attr('data-remote', 'true') }); 
</script>
<% end %>
