<% provide(:title, "Login | Signup") %>
<div class='col-md-12 pad-zero marg-zero' id='overlay'>
	<div id="show_flash_messages" class='col-md-6 col-md-offset-3'></div>
	<div class='col-md-12 pad-zero marg-zero'>
		<div class='col-md-4 pad-zero marg-zero'>		</div>
		<div class='col-md-4 pad-zero marg-zero text-center' id='signup_signin_form_div'>
			<h1 id='heading_background' class=' landing_page_heading'> Book Gossips</h1>
			<div class='col-md-12 landingpg_form_background'>
				<button type='button' class='btn col-md-6 ' id='signin_button'> Sign In</button>
				<button type='button' class='btn col-md-6 ' id='signup_button'> Sign Up</button>
				<div id="login_signup_div" style='color:#fff;'></div>
			</div>
		</div>
		<div class='col-md-4 pad-zero marg-zero'>	
			<div class='col-md-3 col-md-offset-5 text-center marg-top' id="landingpg_jquery_loading">
				<%= image_tag("js_loading/hourglass.svg")%>
			</div>
			<div id="show_flash_messages_signup_div" class=' col-md-8 col-md-offset-2 pad-zero' style='margin-top:25%;'></div>
			<div id="show_flash_messages_login_div" class='col-md-8 col-md-offset-2 pad-zero ' style='margin-top:25%;'></div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function(){
		$("#navheader").remove();
		$("#main-container").css("margin-top", 0);
		$(".landing_pg_img").css("display", 'block');
		$("body").css("margin", 0);
	});

	$("#login_signup_div").html("<%= j render 'users/login_partial' %> ");
	$("#signup_button").click(function(){
		$("#login_signup_div").html("<%= j render 'users/signup_partial' %> ");
		$("#login_signup_div").fadeIn(200);
	});
	$("#signin_button").click(function(){
		$("#login_signup_div").html("<%= j render 'users/login_partial' %> ");
		$("#login_signup_div").fadeIn(200);
	});
	$('#first_container').addClass('container-fluid pad-zero');
	$('#first_container').removeClass('container');
</script>