<% provide(:title, "Login | Signup") %>
<div id="show_flash_messages" class='col-md-6 col-md-offset-3'></div>
<div class='col-md-8'></div>
<div class='col-md-4'>
	<button type='button' class='btn btn-default' id='signin_button'> Sign In</button>
	<button type='button' class='btn btn-default' id='signup_button'> Sign Up</button>
</div>

<div class='col-md-8 text-center'>
	<%= image_tag("home_logo/send.png")%>
	<h1 class='main_site_heading marg-top'> Book Gossips</h1>
</div>

<div class='col-md-4 ' id="login_signup_div"></div>

<script>
	$(document).ready(function(){
		$("#navheader").remove();
		$("#main-container").css("margin-top", 0);
	});
	$("#login_signup_div").html("<%= j render'login_partial' %> ");
	$("#signup_button").click(function(){
		$("#login_signup_div").html("<%= j render'signup_partial' %> ");
		$("#login_signup_div").fadeIn(100);
	});
	$("#signin_button").click(function(){
		$("#login_signup_div").html("<%= j render'login_partial' %> ");
		$("#login_signup_div").fadeIn(100);
	});
</script>