<% provide(:title,"Publishers")%>
<div id="show_flash_messages" class='col-md-6 col-md-offset-3'></div>
<div class='col-md-12' id='publisher_forms'></div>
<div class='col-md-12' id="show_all_publishers">
	<div class='col-md-6 text-center'>
		<h1 class='marg-zero'>Publishers <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_publisher_path, class:"btn btn-default", remote: true, id:"new_publisher_button", title:"Create New Publisher" %> </h1>
	</div>	
	<div class='col-md-6 '> <%= render 'publisher_search' %>	</div>
	<div class='col-md-12'  id='all_publishers_div'> <%= render 'publishers'	%></div>
</div>
