<% @publishers_of_logged_user.each do |publisher| %>
	<% if publisher.twitter_username %>
		<div class='col-md-12 col-lg-12 col-xs-12 col-sm-12 marg-bot2 pad-zero'>
			<h1 class='marg-zero pad-zero'>
				@<%= publisher.twitter_username %> <small>SAYS</small>
			</h1>
		</div>
		
		<% @tweets = $twitter_client.user_timeline(publisher.twitter_username) %>
		<div class='col-md-12 pad-zero marg-zero'>
			<%= render 'tweets' %>
		</div>

		
	<% end %>
<% end %>