<% provide(:title, "Calendar") %>
<style>
.calendar-title{
	font-size: 200%;
	margin-left: 3%;
	margin-right: 3%;
}
</style>

<%= month_calendar events: (@reviews + @books + @authors +@users) do |date, events| %>
<%= date.day %>
<% events.each do |event| %>
<%= link_to event.classification, event, class: "btn btn-default", title:"#{event.description}" %>

<% end %>
<% end %>

<script>
$("div .simple-calendar").prepend("<div class='col-md-6 col-lg-6 col-xs-6 col-sm-6 marg-bot2 pad-zero'> <h1 class='pad-zero marg-zero'> Calendar </h1> </div>");
$("div .calendar-heading").addClass("col-md-6 col-lg-6 col-xs-6 col-sm-6 marg-bot2 pad-zero text-right");
</script>