<% provide(:title,"Books")%>
<div id="show_flash_messages" class='col-md-6 col-md-offset-3'></div>
<div class='col-md-12' id='book_forms'></div>
<div class='col-md-12' id="show_all_books">
	<div class='col-md-6'>
		<h1 class='marg-zero'>Books <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_book_path, class:"btn btn-default", remote: true, id:"new_book_button", title:"Create New Book" %> </h1>
	</div>
	<div class='col-md-6'> <%= render 'book_search' %> </div>
	<div class='col-md-12' id='all_books_div'> <%= render 'books' %> </div>
</div>
