/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.marg-top{margin-top: 5%;}
.marg-bot{margin-bottom: 5%;}
.marg-top2{margin-top: 2%;}
.marg-bot2{margin-bottom: 2%;}
.marg-left{margin-left: 5%;}
.marg-right{margin-right: 5%;}
.form-control{ border-radius: 0;}
.btn {border-radius:0;}
.alert {border-radius:0;}
.pad-zero{padding:0;}
.well{border-radius:0;}
.marg-zero{margin:0;}
.main_site_heading{font-size: 500%;text-align:center;color: rgba(0,0,0,0.6);}
