/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.marg-top{margin-top: 5%;}
.marg-bot{margin-bottom: 5%;}
.marg-top2{margin-top: 2%;}
.marg-bot2{margin-bottom: 2%;}
.marg-top10{margin-top: 10%;}
.marg-bot10{margin-bottom: 10%;}
.marg-left{margin-left: 5%;}
.marg-right{margin-right: 5%;}
.form-control{ border-radius: 0;}
.btn {border-radius:0;}
.alert {border-radius:0;}
.pad-zero{padding:0;}
.well{border-radius:0;}
.marg-zero{margin:0;}
.main_site_heading{font-size: 500%;text-align:center;color: rgba(0,0,0,0.6);}
.signup_signin_passreset_heading{color: #f0f8ff;}
.landing_page_heading{font-family: Vollkorn; text-align: center; font-size: 460%; color: rgba(255,255,255,1); margin-bottom:5%;padding:0;margin-top:5%;}
.landing_pg_img{min-width:100%;max-height:100%;position:absolute;display:none;}
#login_signup_div{ padding-bottom:5%; margin-top:3%;}
.create_new_button{margin-left:5%;}
.gallery_item_div{ margin-top:3%;}
.form_border{border: 1px solid lightgrey; padding:2%;}
body {
	/*font-family: Source Sans Pro; */
	font-family: Nato Sans; 
}
.navbar_fontstyle {font-family: Nato Sans; font-size: 125%; } 

