/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

@font-face {
  font-family: OxygenFont;
  src: font-url("Oxygen/Oxygen.ttf");
}

@font-face {
  font-family: RalewayFont;
  src: font-url("Raleway/Raleway.ttf");
}

#flash_messages_div{
	font-size: 110%;
}
.marg-top {
	margin-top: 5%;
}
.marg-bot {
	margin-bottom: 5%;
}
.marg-top2 {
	margin-top: 2%;
}
.marg-bot2 {
	margin-bottom: 2%;
}
.marg-top10 {
	margin-top: 10%;
}
.marg-bot10 {
	margin-bottom: 10%;
}
.marg-left {
	margin-left: 5%;
}
.marg-right {
	margin-right: 5%;
}
.form-control {
	border-radius: 0;
}
.btn {
	border-radius:0;
	padding:3%;
}
.alert {
	border-radius:0;
}
.pad-zero {
	padding:0;
}
.well {
	border-radius:0;
}
.marg-zero {
	margin:0;
}
.main_site_heading {
	font-size: 500%;
	text-align:center;
	color: rgba(0,0,0,0.6);
}
.signup_signin_passreset_heading {
	color: #f0f8ff;
}
#signup_signin_form_div{
	color: rgba(225,237,255,1); 
}
.landing_page_heading {
	font-family: RalewayFont;
	font-size: 400%; 
	/*margin-bottom:5%;*/
	padding:7%; 
	/*margin-left: 15%; */
	/*background-color:rgba(23, 48, 54, 0.3);*/
}
.landing_pg_img {
	width:100%;
	height:100%;
	position:absolute;
	display:none;
}
#login_signup_div {
	padding-bottom:3%;
	margin-top:3%;
}
.create_new_button {
	margin-left:5%;
}
.gallery_item_div {
	margin-top:3%;
}
.form_border {
	border: 1px solid lightgrey;
	padding:2%;
}
body {
	/*font-family: Source Sans Pro; */
	// font-family: Nato Sans; 
	font-family: OxygenFont;
}

.builtByText{
	font-family: mono;
	font-weight: bold;
}
.marg-left-0{
	margin-left:0
}
.navbar_fontstyle {
	// font-family: Nato Sans; 
	font-family: OxygenFont;
	font-size: 125%; 
} 
.landingpg_form_background{
	/*background-color:rgba(23, 48, 54, 0.7); */
	background-color: rgba(0,1,25,0.5); 
	/*margin-top: 9%; */
	box-shadow: 0px 0px 3px 0px rgba(29,61,68,1); 
	padding:5%;
}
#signin_button{
	padding:3%;
	background-color: rgba(8,28,40,0.8); 
	color: #fff;
}
#signup_button{
	padding:3%;
	background-color: rgba(239,6,51,0.8); 
	color: #fff;
}
#landingpg_jquery_loading{
	display:none; 
	background-color: rgba(0,1,25,0.5); 
	padding: 3%;
}
#overlay{
	background-color: rgba(0,1,25,0.65); 
	min-height: 100vh;
}
#heading_background{
	background-color: rgba(0,1,25,0.5); 
	margin:0;
	/*padding:3%;*/
}
