<% flash.each do |flash_type, flash_msg| %>
<div class='col-md-12'>
	<div class= 'alert alert-<%=flash_type%> alert-dismissible col-md-6 col-md-offset-3' role='alert' id="flash_messages_div"> 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> <%= flash_msg %> 
	</div>
</div>
<% end %>

